<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6">
    <h2 class = "mb-4 mt-4">Update dog info</h2>
      <%= simple_form_for (@dog) do |f| %>
      <%= f.input :name  %>
      <%= f.input :breed  %>
      <%= f.input :description  %>
      <%= f.input :address  %>
      <%= f.input :photos, as: :file, input_html: { multiple: true} %>
      <%= f.submit "Update", class: "btn btn-success"%>
      <% end %>
    </div>
  </div>
</div>
