 <div class="row">
  <div class="col-6">
    <% @dogs.each do |dog| %>
      <div class="card-dog" style="width: 100%;">
        <% if dog.photos.attached? %>
          <%= cl_image_tag dog.photos.first.key, height: 300, width: 400, crop: :fill, class: 'card-dog-img-top'%>
        <% else %>
          <img class="card-dog-img-top" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2021%2F05%2F18%2Fcockapoo-red-colored-greenery-223686877-2000.jpg" alt="Card image cap">
        <% end %>
        <div class="card-dog-body">
          <h5 class="card-dog-title"><%= link_to dog.name, dog_path(dog) %></h5>
          <h6 class="card-dog-breed"><em><%= dog.breed %></em></h6>
          <p class="card-dog-text"><%= dog.description %></p>
          <%= link_to "Book me!", new_dog_booking_path(dog), class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-6">
    <div id="map" style="height: 100vh;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
