<div class="container-fluid px-0">
  <div class="row gx-0">
    <div class="col-7 px-3">
      <div class="card-top">
        <% if user_signed_in? %>
          <h4>Hi <%= current_user.first_name %>!</h4>
        <% else %>
          <h4>Hi you!</h4>
        <% end %>
        <h5>At this very moment, <%= pluralize @dogs.size, "dog" %> want<%= "s" if @dogs.size < 2 %> to go for a walk in the park. <strong>Let's go!</strong></h5>
            <%= form_tag(dogs_path, method: :get) do %>
              <div class="container-form">
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search by breed"
              %>
              <%= submit_tag "SEARCH", class: "btn btn-blue-small" %>
            </div>
            <% end %>
      </div>
      <% @dogs.each do |dog| %>
        <% if dog.user != current_user %>
          <div class="card-dog" style="width: 100%;">
              <% if dog.photos.attached? %>
                <%= cl_image_tag dog.photos.first.key, height: 300, width: 400, crop: :fill, class: 'card-dog-img-top'%>
              <% else %>
                <img class="card-dog-img-top" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2021%2F05%2F18%2Fcockapoo-red-colored-greenery-223686877-2000.jpg" alt="Card image cap">
              <% end %>
              <div class="card-dog-body">
                <div class="card-dog-header">
                  <h5 class="card-dog-title"><%= link_to dog.name, dog_path(dog) %></h5>
                  <h6 class="card-dog-breed badge-pink"><%= dog.breed.downcase %></h6>
                </div>
                <p class="owner-name"><em><%= dog.user.first_name %>'s dog</em></p>
                <p class="card-dog-text">
                <%= dog.description[0..200] %> <%= "..." if dog.description.size >= 200 %>
                </p>
                <%= link_to "MEET ME!", dog_path(dog), class: "btn-green"%>
              </div>
            </div>
          <%end %>
    <% end %>
  </div>
    <div class="col-5">
      <div id="map" style="height: 100vh;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
