<h2>List your dog</h2>

<%= simple_form_for(@dog) do |f| %>
  <%= f.input :name %>
  <%= f.input :breed %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
