<div class="container">
  <div class="flex-container">
    <h1>Hi! My name is <%= @dog.name %></h1>
    <h2 class="breed-title">(... and I'm a <%= @dog.breed.downcase %>)</h2>
  </div>
  <div class="dog-show-grid">
    <% @dog.photos.each_with_index do |photo, index| %>
      <div class="photo-<%=index + 1%>">
        <% if photo %>
          <%= cl_image_tag(photo.key, crop: :fill)%>
        <% else %>
          <img class="dog-photo-show" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2021%2F05%2F18%2Fcockapoo-red-colored-greenery-223686877-2000.jpg" alt="Card image cap">
        <% end %>
      </div>
    <% end %>
  </div>

    <div class="row">
      <div class="col-6">
          <div class="description-card">
            <h2 class="description-title">Description</h2>
            <p class="description-text"><%= @dog.description %></p>
          </div>
      </div>
      <div class="col-6">
        <div class="calendar-card">
        <h2 class="calendar-title">Availability</h2>
        <%= simple_form_for [@dog, @booking] do |f|  %>
          <%= f.input :message  %>
          <%= f.input :date  %>
          <%= f.submit "BOOK ME", class: "btn-blue"%>
<% end %>
        <%# <%= link_to "BOOK ME!", new_dog_booking_path(@dog), class: "btn-blue"%> %>
        </div>
      </div>
    </div>

  <div class="map-container">
    <h2 class="Location-title">Where am I?</h2>
    <img class="map" src="https://i.ibb.co/xgT59Fy/Schermafbeelding-2022-02-22-om-12-22-33.png" alt="map">
  </div>
</div>
