<h5 class= "mt-1 mb-4">My bookings</h5>
<% if !@my_bookings.empty?%>
  <% @my_bookings.each do |booking| %>
    <div class="card-product mb-4">
      <% if booking.dog.photos.attached?  %>
        <%= cl_image_tag(booking.dog.photos.first.key)%>
      <% else %>
        <img src="https://dogfuriendly.com/wp-content/uploads/2019/02/Default-Avatar.jpg" alt="dog photo">
      <% end %>
      <div class= "d-flex justify-content-between align-items-center" style="width: 100%" >
        <div>
          <div class= "d-flex align-items-baseline dog-booked-name">
            <h6><%= link_to booking.dog.name, dog_path(booking.dog.id) %> booked!</h6>
            <span class = "fw-normal badge ms-2"><%= booking.status.capitalize %></span>
          </div>

          <p>For: <strong> <%= booking.date.strftime('%a %d %b %Y %H:%M') %></strong></p>
          <div class="booking-tooltip">
            <p>See message from <%= booking.user.first_name %></p>
            <span class="tooltiptext"><%= booking.message %></span>
          </div>
        </div>
        <div>
          <%= link_to "CANCEL", dog_booking_path(booking.dog, booking), class: "btn btn-red-small", method: :delete, data: {confirm: "Are you sure"} %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="my-alert " role="alert">
    No history of bookings. <%= link_to "Rent a dog now", dogs_path, class: "alert-link" %>
  </div>
<% end %>
