<div class="container mt-3">
  <div class="row">
  <!---------------------USER INFO-------------------------------------->
    <div class="col-4">
      <div class ="card-dashboard d-flex flex-column align-center align-items-center">

      <% if current_user.photo.attached?  %>
        <%= cl_image_tag(current_user.photo.key, width: 200, height: 200, gravity: "faces", crop: "thumb", class: "avatar-box") %>
      <% else %>
        <img src="https://www.sibberhuuske.nl/wp-content/uploads/2016/10/default-avatar.png" alt="avatar" class="avatar-box" >
      <% end %>

          <div class="dg-margin-bottom mt-3">
            <span class="fs-5 text-gray-400 text-hover-primary fw-medium"><%= current_user.first_name %> <%= current_user.last_name %></span>
            <a href="users/<%= @user.id %>/edit"><i class="fas fa-edit"></i></a>
          </div>

        <div class="card-dog-list p-4">
          <% if !@my_dogs.empty?%>
          <div class= "d-flex justify-content-between">
            <h5 class="fw-bold">My dogs </h5>
            <a class= "btn btn-light btn-sm" href="dogs/new">Add new</a>
          </div>

            <% @my_dogs.each do |dog| %>
            <div class = "mt-3">
              <h5><%= dog.name %></h5>
              <p><%= dog.description %></p>
              <div class= "mt-4">
                <%= link_to "See details", dog_path(dog), class: "btn btn-primary" %>
                <%= link_to "Delete this dog", dog_path(dog), method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-light" %>
              </div>
            </div>
            <% end %>
          <% else %>
            <div class="my-alert" role="alert">
              Your dog list is empty. <%= link_to "Add a dog", new_dog_path, class: "alert-link" %> now.
            </div>
          <% end %>
        </div>
        </div>
    </div><!--col-4-->

<!-------------------------BOOKINGS---------------------------------->
    <div class="col-8">
    <div class="card-dashboard h-100">
      <div class="dg-margin-bottom">
        <h4>My bookings</h4>
        <% if !@my_bookings.empty?%>
          <% @my_bookings.each do |booking| %>
              <div class="card-product">
                <%= cl_image_tag booking.dog.photos.first.key  %>
                <div class="container d-flex justify-content-between">
                  <div>
                    <h2><%= link_to booking.dog.name, dog_path(booking.dog.id) %> booked!</h2>
                    <p>For : <strong> <%= booking.date %></strong></p>
                  </div>
                  <%= link_to "Cancel my booking", dog_booking_path(booking.dog, booking), method: :delete, data: {confirm: "Are you sure"} %>
                </div>
              </div>
          <% end %>
          <% else %>
              <div class="my-alert " role="alert">
                No history of bookings. <%= link_to "Rent a dog now", root_path, class: "alert-link" %> now.
              </div>
            <% end %>
      </div>
      <h4>Booking requests</h4>
        <% if !@received_bookings.empty?%>
          <% @received_bookings.each do |booking| %>
            <div class="card-product">
                <img src="https://source.unsplash.com/random/?dog" />
                <div class="container d-flex justify-content-between">
                  <div>
                    <h2><%= link_to booking.dog.name, dog_path(booking.dog.id) %> booked by <%= booking.user.first_name %></h2>
                    <p>For : <strong> <%= booking.date %></strong></p>
                    <span class="badge badge-pill badge-danger"><%= booking.status %></span>

                  </div>
                  <div>
                    <% if booking.pending? %>
                      <%= link_to "Accept", accept_booking_path(booking), method: :patch %>
                      <%= link_to "Decline", decline_booking_path(booking), method: :patch %>
                    <% elsif booking.approved?%>
                      <%= link_to "Cancel confirmed booking", decline_booking_path(booking), method: :patch, class: "btn btn-danger" %>
                    <% else %>
                    <% end %>
                  </div>
                </div>
            </div><!--card-product-->
          <% end %>
          <% else %>
            <div class="my-alert" role="alert">
              You don't have any incoming requests.
            </div>
          <% end %>
    </div>
    </div><!--col-8-->
  </div><!--main row-->
</div><!--main container-->
