<div class="container mt-3 border">
  <div class="row">
  <!---------------------USER INFO-------------------------------------->
    <div class="col-4 card-body d-flex flex-column align-center align-items-center">
        <div class="avatar-box"></div>
        <p class="fs-2 text-gray-800 text-hover-primary fw-bolder mb-1"><%= current_user.first_name %></p>
        <p class = "fs-6 fw-bold text-gray-400 mb-2"><%= current_user.last_name %></p>

      <div class="card">
        <h5 class="card-header">My dogs</h5>
        <div class="card-body">
          <h5 class="card-title">Name of a dog</h5>
          <p class="card-text">My dog description. it should be here only if i am the owner.</p>
          <a href="#" class="btn btn-primary">Go to dog page</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Name of a dog</h5>
          <p class="card-text">My dog description. it should be here only if i am the owner.</p>
          <a href="#" class="btn btn-primary">Go to dog page</a>
        </div>
      </div>

    </div><!--col-4-->

<!-------------------------BOOKINGS---------------------------------->
    <div class="col-8">

      <h2>My bookings</h2>
      <ol class>
      <% @my_bookings.each do |booking| %>
        <li>
          <div class="card-product">
            <img src="https://source.unsplash.com/random/?dog" />
            <div class="card-product-infos">
              <h2><%= link_to booking.dog.name, dog_path(booking.dog.id) %> booked!</h2>
              <p>For : <strong> <%= booking.date %></strong></p>
              <span class = "list-group-item">

              <%= link_to "Cancel booking", dog_booking_path(booking.dog, booking), method: :delete, data: {confirm: "Are you sure"} %>
              </span>
            </div>
          </div>
          </li>
      <% end %>
      </ol>

      <h2>Received bookings</h2>
        <ol class>
          <% @received_bookings.each do |booking| %>
            <li>
              <div class="card-product">
                <img src="https://source.unsplash.com/random/?dog" />
                <div class="card-product-infos">
                  <h2><%= link_to booking.dog.name, dog_path(booking.dog.id) %> booked!</h2>
                  <p>For : <strong> <%= booking.date %></strong></p>
                  <span class = "list-group-item">

                  <%= link_to "Cancel booking", dog_booking_path(booking.dog, booking), method: :delete, data: {confirm: "Are you sure"} %>
                  </span>
                </div>
              </div>
              </li>
          <% end %>
        </ol>

    </div><!--col-8-->
  </div><!--main row-->
</div><!--main container-->
