<!DOCTYPE html>
<html>
  <head>
    <title>Doggyrent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300;500&display=swap');
    </style>
  </head>

  <body>
  <div class="page-container">
    <div class="navbar-container">
      <%= render 'shared/navbar'  %>
    </div>
    <%= render 'shared/flashes' %>
    <div class="content-container">
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <div class="footer-container">
      <footer>
        <%= render 'shared/footer'  %>
      </footer>
    </div>
  </div>
  </body>
</html>
